* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #e1e1e0;
  background-image: url(./img/fotbilista-cirlulos-verde.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 60px;
  display: flex;
  flex-direction: column;
}

.circulo-decoracion {
  width: 230px;
  height: 230px;
  background-color: #1f6d3a;
  position: absolute;
  border-radius: 100%;
  top: 650px;
  right: 40%;
  z-index: -1;
  overflow: hidden;
}

.circulo-decoracion2 {
  width: 280px;
  height: 100px;
  position: absolute;
  right: 80%;
  top: 600px;
  z-index: -1;

  color: #408b5a;
  letter-spacing: 20px;
  font-size: 40px;
  line-height: 30px;
  user-select: none;
  overflow: hidden;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

a:hover{
  color: #336b7a;
}

/* -------      HEADER      --------- */

header {
  /* position: relative; */
  padding-right: 2rem;
  background-color: #5da576;
}

.navbar {
  width: 100%;
  height: 80px;
  /* max-width: 1800px; */
  gap: 40px;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  height: 80px;
  width: 340px;
  background-color: #1a5c6e;
  justify-content: center;
  display: flex;
}

.navbar .logo img{
  width: 260px;
  padding: 10px;
  filter: invert();
}

.navbar .logo img:hover{
  scale: 1.05;
}

.navbar .links {
  display: flex;
  width: 60%;
  gap: 2rem;
}

.navbar .links a {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar .links a:hover {
  background-color: rgba(26, 110, 89, 0.259);
  border-radius: 10px;
  color: #fff;
  scale: 1.05;
}

.registro {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
  height: 60px;
  width: 60px;
  padding: 10px;
  background-color: #1a5c6e;
  border-radius: 5px;
}

.navbar .toggle_btn:hover{
  scale: 1.05;
}

.navbar .toggle_btn i{
  overflow: hidden;
  font-size: 1.8rem;
  background-color: #1a5c6e;
}

.action_btn {
  background-color: #151716;
  color: #fff;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.action_btn:hover{
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

.moneda {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 220px;
  color: #fff;
}

.vl {
  border-left: 1px solid #fff;
  height: 40px;
}
/*  */
/*  */
/*  */


/* DROPDOWN MENU */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 80px;
  width: 300px;
  height: 0px;
  background: #5da576;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  transition: height .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 180px;
  /* border-top: 1px solid #1a6e4049; */

  /* Test */
  /* position: relative; */
  /* top: 0; */
  /*  */
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a:hover {
  color: #fff;
  scale: 1.05;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* LOGIN */

.login-container {
  display: flex;
  justify-content: end;
  width: 90vw;
  max-height: 1000px;
  padding: 50px 50px;
  /* background-color: #292929; */
}

.partes-container{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.primera-parte{
  height: 50%;
  background: linear-gradient(to top, #5da576, #1a5c6e);
  position: relative;
}

.decoracion-clip-abajo {
  background-color: #5da576;
  position: absolute;
  bottom: 0px;
  right: 0;

  background: linear-gradient(to top, #64b680, #1a5c6e);
  height: 100%;
  width: 90%;
  clip-path: ellipse(52% 47% at 86% 91%);

}

.decoracion-clip-arriba {
  background-color: #5da576;
  position: absolute;
  left: 0;
  top: 0;

  background: linear-gradient(to top, #68bd84, #1a5c6e);
  height: 90%;
  width: 80%;
  clip-path: ellipse(80% 34% at 0% 0%);
}

.login-wrap {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;

}

.login-wrap img{
  /* min-width: 65%; */
  /* max-width: 70%; */
  /* max-width: 400px;
  min-width: 200px; */
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  z-index: 4;
  border-radius: 20px;
}

/* formulario */

.segunda-parte{
  height: 50%;
  background-color: #fff;
  text-align: center;
}

.segunda-parte h1{
  font-size: 28px;
  padding: 10px;
  font-weight: 800;
  color: #1a5c6e;
}


.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 20px;
}

.formulario-login input{
  min-width: 300px;
  max-width: 350;
  height: 40px;
  background-color: #5da576;
  padding: 5px 30px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;

  transition: ease-in 0.6s;

  border: solid 0px #1a5c6e;
  border-radius: 30px;
}

.formulario-login input::placeholder{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.formulario-login input:focus{
  outline-color: #fff;
  transform: scale(1.05);
  transition: all 0.5s;
  background-color: #408b5a;
}

.formulario-login a{
  text-decoration: none;
  color: #1a5c6e;
  font-size: 20px;
  font-weight: 600;
}

.formulario-login a:hover{
  scale: 1.02;
}

.formulario-login button{
  background-color: #1a5c6e;
  color: #fff;
  font-size: 20px;

  cursor: pointer;
  padding: 10px 40px;
  border-radius: 10px;
  border: 0px;
}

.formulario-login button:hover{
  scale: 1.05;
  color: #fff;
}

.formulario-login button:active {
  scale: 0.95;
}

.footer {
  background-color: #151716;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: auto;

  font-size: 0.8rem;
  color: #fff;
  min-height: 100px;
}




/* RESPONSIVE */
@media (max-width: 992px) {
    body {
    height: 90vh;
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 60px;
    }

    .circulo-decoracion {
      width: 200px;
      height: 200px;
      top: 70%;
      right: 20%;
    }

    .navbar .links, 
    .navbar .action_btn {
      display: none;
    }

    .navbar .toggle_btn {
      display: flex;
      justify-content: center;
      align-items: center;

      /* padding-right: 5%; */
    }

    .navbar .registro {
      order: 2;
      width: auto;
    }

    .navbar .moneda {
      order: 1;
      justify-content: end;
      width: 100%;
      gap: 10px;
    }

    .dropdown_menu {
      display: block;
    }
}

@media (max-width: 768px) {
  body {
    background-size: 650px;
  }

  .circulo-decoracion2 {
    display: none;
  }

  .segunda-parte h1{
    font-size: 22px;
  }
  
  
  .formulario-login {
    gap: 24px;
  }
  
  .formulario-login input{
    min-width: 280px;
    height: 40px;
    padding: 3px 8px;
    font-size: 20px;
    font-weight: 500;
  }
  


  .formulario-login input::placeholder{
    font-size: 20px;
    padding-left: 20px;
  }
  
  
  .formulario-login a{
    font-size: 18px;
  }
  
  .formulario-login button{
    font-size: 20px;
  
  }

  .dropdown_menu {
    left: 0rem;
    width: 100%;
    }

  .navbar .logo {
    min-width: 240px;
     max-width: 260px;
  }

  .navbar .logo img{
    width: 220px;
  }
  
  .navbar .moneda {
    display: none;
  }

  .login-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 50px;

  }
}

@media (max-width: 480px) {
  body {
    background-size: 500px;
    background-position-x: 0%;
    background-position-y: 80px;
  }

  .circulo-decoracion {
    width: 150px;
    height: 150px;
    top: 70%;
    right: 0%;
  }

  .navbar .logo {
    min-width: 180px;
    max-width: 220px;
  }

  .navbar .logo img{
    width: 180px;
  }
  
  .login-wrap img{
    min-width: 250px;
    padding: 16px;
  }
  
  /* formulario */
  
  .segunda-parte h1{
    font-size: 22px;
  }
  
  
  .formulario-login input{
    min-width: 220px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .formulario-login input::placeholder{
    font-size: 18px;
  }
  
  
  .formulario-login a{
    text-decoration: none;
    color: #1a5c6e;
    font-size: 16px;
    font-weight: 600;
  }
  
  .formulario-login button{
    background-color: #1a5c6e;
    color: #fff;
    font-size: 18px;
  
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
  }
}

@media (max-width: 350px) {
  body {
    background-size: 500px;
    background-position-x: 30%;
    background-position-y: 70px;
  }

  .circulo-decoracion {
    width: 150px;
    height: 150px;
    top: 75%;
    right: 0%;
  }

  header {
    background-color: #1a5c6e;
    padding-right: 25px;
  }

  .navbar .toggle_btn {
    height: 60px;
    width: 60px;
    padding: 10px;
    background-color: #5da576;
    border-radius: 5px;
  }

  .navbar .toggle_btn i{
    background-color: #5da576;
  }

  .navbar .logo {
    min-width: 160px;
    max-width: 200px;
  }

  .navbar .logo img{
    width: 170px;
  }
  
  .login-wrap img{
    min-width: 200px;
    /* max-width: 170px; */
    padding: 8px 12px;
    border-radius: 10px;
  }
  
  .primera-parte{
    height: 50%;
  }

  .login-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
  }

  /* formulario */
  
  .segunda-parte h1{
    font-size: 20px;
  }
  
  
  .formulario-login {
    gap: 24px;
  }
  
  .formulario-login input{
    min-width: 120px;
    height: 30px;
    padding: 3px 8px;
    font-size: 18px;
    font-weight: 500;
  }
  


  .formulario-login input::placeholder{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
  }
  
  
  .formulario-login a{
    font-size: 16px;
  }
  
  .formulario-login button{
    font-size: 16px;
  
    padding: 8px 16px;
    border-radius: 10px;
  }

}

@media (min-width: 1960px) {
  body {
  height: 100vh;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 60px;
  }

  .circulo-decoracion {
    width: 350px;
    height: 350px;
    top: 70%;
    right: 20%;
  }

  .circulo-decoracion2 {
    width: 280px;
    height: 100px;

    right: 85%;
    top: 900px;
  
    letter-spacing: 20px;
    font-size: 50px;
    line-height: 30px;
  }

  a {
    font-size: 1.3rem;
  }

  .login-container {
    width: 90vw;
    max-height: 1400px;
    min-height: 1000px;
    padding: 50px 50px;
    /* background-color: #292929; */
  }
  
  .partes-container{
    display: flex;
    flex-direction: column;
    height: 850px;
    width: 550px;
    border-radius: 10px;
  }
  
  
  .login-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
  }
  
  .login-wrap img{
    max-width: 500px;
    min-width: 400px;
  }
  
  /* formulario */
  
  .segunda-parte{
    height: 50%;
  }
  
  .segunda-parte h1{
    margin: 15px 0;
    font-size: 30px;
    padding: 20px;
  }
  
  
  .formulario-login {
    gap: 30px;
  }
  
  .formulario-login input{
    min-width: 350px;
    max-width: 400px;
    height: 50px;
    font-size: 26px;
  }
  

  
  .formulario-login a{
    font-size: 22px;
  }
  
  .formulario-login a:hover{
    scale: 1.02;
  }
  
  .formulario-login button{
    background-color: #1a5c6e;
    color: #fff;
    font-size: 24px;
  
    padding: 14px 40px;
  }
  

}

